.job-card {
    width: 400px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 30px;
    margin: 10px;
    display: inline-block;
    border-radius: 20px;
    /* border: 1px solid black; */
    box-shadow: 14px 16px 32px 0px rgba(0,0,0,0.1);
}

.job-card img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
    max-width: 50px;
    padding-bottom: 15px;
}

.job-cards-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.job-card h2 {
    font-size: 1.2rem;
    margin: 0;
}

.job-card p {
    margin: 5px 0;
}

.job-card button {
    cursor: pointer;
}

.job-card .check-icon {
    color: rgb(17, 205, 17);
}

.job-card .img-section {
    display: flex;
    flex-direction: row;
}

.job-card .name-role {
    margin: 0 0 0 20px;
}

.job-card .name-role h2 {
    color: grey;
    font-size: 18px;
    margin-top: 10px;
    margin: 0;
    padding: 0;
    font-weight: 600;
}

.job-card .name-role h4 {
    color: black;
    text-transform: capitalize;
    font-size: 18px;
    margin: 3px 0 0 0;
    padding: 0;
    font-weight: 500;
}

.job-card .location {
    font-size: 16px;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
}

.job-card .salary {
    color: rgb(131, 130, 130);
    font-size: 18px;
    font-weight: 500;
}

.job-card .icon {
    text-align: end;
    justify-content: end;
    vertical-align: middle;
}

.job-card .description h2 {
    font-size: 20px;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

.job-card .description h3 {
    font-size: 16px;
    font-weight: 600;
    margin: 0 0 10px 0;
    padding: 0;
}

.job-card .load-more {
    background-color: transparent;
    border: none;
    color: #007bff;
    cursor: pointer;
}

.description-section{
    margin: 15px 0 15px 0;
    
}



.description p {
    text-align: justify;
    position: relative;
}

.view-job {
    /* position: absolute; */
    font-size: 1em;
    bottom: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    color: #0056b3;
    text-decoration: none;
    /* padding: 5px 10px; */
    /* margin-bottom: 20px; */
    cursor: pointer;
    z-index: 1;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.description > p::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px; 
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}
.description h3{
    color: rgb(131, 130, 130);

}
.exp{
    color: rgb(131, 130, 130);
    font-size: 14px;
    font-weight: 700;
    text-transform: capitalize;

}
.view-job-p{
    text-align: center;
}
.apply-btn {
    background-color: #00ffd9;
    border: none;
    border-radius: 9px;
    padding: 15px;
    margin-top: 15px;
    cursor: pointer;
    font-size: 18px;
    color: black;
    font-weight: 600;
    width: 100%;
    
}

.apply-btn:hover {
    background-color: #0056b3;
    color: white;
}
.apply-span {
    display: flex;
    justify-content: center;
    align-items: center;
}
.lighting{
    color: goldenrod;
}


.modal-overlay {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    position: fixed;
    z-index: 1001;
    padding: 50px;
    width: 80%;
    margin: 0 auto;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.93);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 800px;
    overflow-y: auto;
    position: relative;
}

.close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 34px;
    cursor: pointer;
    border-radius: 50%;
   
    padding: 0px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.modal img{
    max-width: 100px;
    margin: 0 ;
    padding:0;
    max-height: 100px;
    
    
}
.modal .img-section h1{
    font-size: 2.4em;
    font-weight: 600;
    margin-left: 10px;
    margin: 0;
    padding: 0;
}
.modal .img-section h3{
    font-size: 1.3em;
    font-weight: 400;
    /* margin-left: 10px; */
    margin-top: 10px;
    /* margin: 0;*/
    padding: 0; 
}
.modal .job-role{
    font-size: 16px;
    color: rgb(92, 88, 88);
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}
.modal .name-role .location{
    text-transform:uppercase;
    font-size: 16px;
    margin-top: 10px;
    
}
.modal .img-section{
    margin-bottom: 30px;
}

.jobdescription {
    text-align: justify;
    padding-bottom: 20px;
    word-spacing: 4px;
}
.jobdescription h2{
    margin: 15px 0 0 0;
    padding: 0;
}
.jobdescription h3{
    margin: 10px 0 20px 0;
    color:rgb(92, 88, 88);
    padding: 0;
}
.modal .jd{
    margin:10px 0 10px 0;
}

.job-filters{
    display: flex;
    justify-content: center;
}


.job-filters input{
    padding: 10px 10px 10px 10px;
    max-width: 150px;
    margin-right: 30px;
    border: 1px solid #ccc; /* Add border */
    color: #888;
    
    /* width:100%; */
}
.job-filters select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 0.5rem 2rem 0.5rem 0.5rem; /* Add padding to accommodate dropdown arrow */
    border: 1px solid #ccc; /* Add border */
    border-radius: 5px; /* Add border radius */
    background-color: white;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z'/%3E%3C/svg%3E"); /* Add custom arrow */
    background-repeat: no-repeat;
    background-position: right 0.5rem center;
    background-size: 1.5rem 1.5rem;
    margin-right: 30px;
    color: #888;

  }
  
  .job-filters select:focus {
    outline: none;
    border-color: #007bff; /* Change border color on focus */
  }
  
  .job-filters select option {
    padding: 0.5rem;
  }
  .job-filters button{
    background-color: #00ffd9;
    color: black;
    padding: 10px;
    border: #888;
    border-radius: 12px;
  }
  .job-filters button:hover{
    background-color: #0056b3;
    color: #ccc;
    cursor: pointer;
  }
  .job-filters input.active,
  .job-filters select.active {
    color: black;
    /* text-transform: uppercase; */
    /* font-size: 18px; */
    border-color: black;
    box-shadow: 18px 16px 16px 3px rgba(0,0,0,0.1);

  }
  